
.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #f1f5f8;
  color: #102b42;
  border: 2px solid #102b42;
  padding: 12px 26px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5vh;
}

.btn--outline {
  padding: 8px 20px;
}

.btn--primary:hover {
  background: #102b42;
  color: #f1f5f8;
  transition: all 0.2s ease-out;
}