@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.home-page-container {
  background-color: #ddf5fb;
  padding-left: 20px;
  padding-right: 0px;
}

/* ddf5fb */

.home-as-row {
  padding-top: 180px;
  padding-bottom: 0px;
}

/* Style Left Column of Header */
.hello-message {
  margin-left: 15%;
  font-size: 35px;
  font-weight: 700;
  color: #102b42;
  font-family: "lato";
  line-height: 45pt;
}

.pursuance-typed {
  text-align: left;
  margin-left: 7.5%;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 55pt;
  font-family: lato;
  color: #0e273e;
}

.home-greeting {
  margin-top: 18px;
  font-size: 25px;
  font-family: "lato";
}

.resume-button {
  align-items: center;
}

.resume-button-homepage:hover {
  background-color: #f1f5f8;
  color: #102b42;
  border-radius: 2px;
}

/* Style Right Column of Home */

#AlliePicture1 {
  width: 40vw;
  border-radius: 150px;
  margin-right: 100px;
  padding-left: 20px;
}

/* @media screen and (max-width: 1400px) {
  .home {
    font-size: 60px;
    line-height: 70pt;
  }
} */
