@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.home-page-container {
  background-color: #e6f7fb;
  padding-left: 30px;
  padding-right: 0px;
  height: 43vw;
}

.home-as-row {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

/* Style Left Column of Header */
.hello-message {
  margin-left: 15%;
  font-size: 35px;
  font-weight: 550;
  color: #102b42;
  font-family: "lato";
  line-height: 38pt;
}

.program-typed {
  text-align: left;
  margin-left: 7.5%;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 55pt;
  font-family: lato;
  color: #0e273e;
}

.home-greeting {
  margin-top: 1.5vw;
  font-size: 25px;
  font-family: "lato";
}

.resume-button {
  align-items: center;
  margin-top: 8px;
}

.resume-button-homepage:hover {
  background-color: #f1f5f8;
  color: #102b42;
  border-radius: 3px;
}

/* Style Right Column of Home Landing */

#AlliePicture1 {
  width: 36vw;
  padding-left: 15px;
}

@media screen and (max-width: 873px) {
  .home-as-row {
    flex-direction: column-reverse;
  }
  #AlliePicture1 {
    width: 50vw;
  }
}

/* @media screen and (max-width: 1400px) {
  .home {
    font-size: 60px;
    line-height: 70pt;
  }
} */
